<div class="container con-view">
    <ul class="nav nav-tabs" style="margin-top:20px">
        <li>
            <a href="#/flow/summary">趋势指标</a>
        </li>
        <li>
            <a href="#/flow/server">服务端视图</a>
        </li>
        <li class="active"><a href="#/flow/pcap">数据包回溯分析</a></li>
    </ul>
    <div class="row flowPcapCondition" style="padding-top:25px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-left" style="margin-bottom: 10px;">
                    <form class="form-inline">
                        <input type="text" class="form-control datetime" data-date-format="yyyy-mm-dd"
                               data-date-language="zh-CN" data-min-view="2" placeholder="日期"
                               ng-model="startDateInput"
                               ng-keypress="formKeypressHandler($event)">
                        <input type="text" class="form-control datetime" data-date-format="hh:ii:ss"
                               data-date-language="zh-CN"
                               data-max-view="1" data-start-view="1" placeholder="时间"
                               ng-model="startTimeInput"
                               ng-keypress="formKeypressHandler($event)">

                        <label class="sr-only">持续时间</label>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="持续时间"
                                   ng-model="durationInput"
                                   ng-keypress="formKeypressHandler($event)">

                            <div class="input-group-addon">秒</div>
                        </div>
                    </form>
                </div>
                <!--<div class="form-group">
                    <label class="sr-only">协议</label>
                    <div class="form-group btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            {{queryType.displayName || "协议"}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="t in QUERY_TYPE" ng-class="{'active':queryType.name==t.name}"><a href="javascript:void(0);" ng-click="$parent.queryType=t">{{t.displayName}}</a></li>
                        </ul>
                    </div>
                </div>-->
                <div class="pull-right">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                                aria-expanded="true">
                            增加过滤器
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li role="presentation" ng-repeat="(name,field) in FIELD_LIST">
                                <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="addFilter(field)">{{field.displayName||field.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <table class="table">
                    <tbody>
                    <tr ng-repeat="(fieldName,queryField) in queryFieldList">
                        <td style="width:30px;"><a href="javascript:void(0);" ng-click="removeFilter(queryField)"><span
                                class="glyphicon glyphicon-remove"></span></a></td>
                        <td style="width:200px;">{{queryField.displayName||queryField.name}}</td>
                        <td style="width:100px;">
                            <div class="dropdown" ng-repeat="(name,opts) in FIELD_OPT">
                                <button class="btn btn-default btn-sm dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-expanded="true">
                                    {{queryField.opt.displayName || queryField.opt.name ||"选择操作"}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation" ng-repeat="opt in opts"
                                        ng-class="{'active':queryField.opt.name==opt.name}">
                                        <a role="menuitem" tabindex="-1" href="javascript:void(0);"
                                           ng-click="queryField.opt=opt">{{opt.displayName||opt.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div ng-show="queryField.type=='String'||queryField.type=='Int'||queryField.type=='Integer'||queryField.type=='Byte'">
                                <form class="form-inline">
                                    <div class="form-group" style="margin-top: 0px;">
                                        <label class="sr-only">&nbsp;</label>
                                        <input class="form-control input-sm" type="text"
                                               ng-model="queryField.inputValue"/>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label class="sr-only">&nbsp;</label>-->
                                        <!--<input class="form-control input-sm" type="text"-->
                                               <!--ng-model="queryField.inputValue2" ng-show="queryField.opt.name=='><'"/>-->
                                    <!--</div>-->
                                </form>
                            </div>
                            <!--<div ng-show="queryField.type=='Date'">-->
                                <!--<form class="form-inline">-->
                                    <!--<input type="text" class="form-control datetime" data-date-format="yyyy-mm-dd"-->
                                           <!--data-date-language="zh-CN" data-min-view="2" placeholder="日期"-->
                                           <!--ng-model="$parent.startDateInput"-->
                                           <!--ng-keypress="formKeypressHandler($event)">-->
                                    <!--<input type="text" class="form-control datetime" data-date-format="hh:ii:ss"-->
                                           <!--data-date-language="zh-CN"-->
                                           <!--data-max-view="1" data-start-view="1" placeholder="时间"-->
                                           <!--ng-model="$parent.startTimeInput"-->
                                           <!--ng-keypress="formKeypressHandler($event)">-->

                                    <!--<label class="sr-only">持续时间</label>-->
                                    <!--<div class="input-group">-->
                                        <!--<input type="text" class="form-control" placeholder="持续时间"-->
                                               <!--ng-model="durationInput"-->
                                               <!--ng-keypress="formKeypressHandler($event)">-->

                                        <!--<div class="input-group-addon">秒</div>-->
                                    <!--</div>-->
                                <!--</form>-->
                            <!--</div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--<input type="text" class="form-control" placeholder="协议" ng-model="protocolInput" ng-keypress="formKeypressHandler($event)">-->
                <!--<input type="text" class="form-control" placeholder="源IP" ng-model="srcIpInput" ng-keypress="formKeypressHandler($event)">-->
                <!--<input type="text" class="form-control" placeholder="源端口" ng-model="srcPortInput" ng-keypress="formKeypressHandler($event)">-->
                <!--<input type="text" class="form-control" placeholder="目的IP" ng-model="destIpInput" ng-keypress="formKeypressHandler($event)">-->
                <!--<input type="text" class="form-control" placeholder="目的端口" ng-model="destPortInput" ng-keypress="formKeypressHandler($event)">-->
                <!--<input type="text" class="form-control" placeholder="源MAC" ng-model="srcMacInput" ng-keypress="formKeypressHandler($event)">-->
                <!--<input type="text" class="form-control" placeholder="目的MAC" ng-model="destMacInput" ng-keypress="formKeypressHandler($event)">-->

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-xs-12">
            <button class="btn btn-primary" type="button" ng-click="doQuery()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                查找
            </button>
            <button class="btn btn-default" type="button" ng-click="reset()">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                重置
            </button>
            <button class="btn btn-default" type="button" ng-click="download()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                下载
            </button>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-xs-12">
            <div ng-show="fileName">
                <label>点击下载：</label>
                <a href="javascript:void(0);" ng-click="doDownload()">{{fileName}}</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr role="row" class="heading">
                    <th width="1%">
                        序号
                    </th>
                    <th width="2%">
                        时间
                    </th>
                    <th width="2%">
                        源地址
                    </th>
                    <th width="2%">
                        目的地址
                    </th>
                    <th width="2%">
                        协议
                    </th>
                    <th width="2%">
                        长度
                    </th>
                    <th width="10%">
                        信息
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr role="row" class="odd" ng-repeat="packet in recordList">
                    <td>{{packet.no}}</td>
                    <td>{{packet.time}}</td>
                    <td>{{packet.source}}</td>
                    <td>{{packet.destination}}</td>
                    <td>{{packet.protocol}}</td>
                    <td>{{packet.length}}</td>
                    <td>{{packet.info}}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="msg" style="text-align: center;">{{msg}}</div>
            <div ng-show="isLoading" style="text-align: center;">
                <span class="glyphicon glyphicon-hourglass flow-pcap-loading" aria-hidden="true"></span>正在加载...
            </div>
            <nav class="text-center" style="position:relative;margin-top:20px;" ng-show="recordList">
                <div class="pull-right" style="line-height:34px;position:absolute;top:0;right:0;">
                    <span style="padding-right:10px;">第 {{pageNum||0}} 页</span>
                    <span>共 {{pageTotal||0}} 页</span>
                </div>
                <ul class="pagination" style="margin:0 auto;" data-page-click="show"></ul>
            </nav>
        </div>
    </div>
</div>

