<div id="bg_img" class="container-fluid index_fir">
    <div class="row">
        <div class="col-md-4 col-md-offset-1 vertical-center">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="请输入IP地址或自定义的IP组名" ng-model="keywordInput" ng-keypress="formKeypressHandler($event)">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
