<div class="container con-view">
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control auto-complete-input" placeholder="IP地址或IP组" ng-model="keywordInput" ng-keypress="formKeypressHandler($event)" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="search()">查询</button>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group" ng-if="false">
                <button class="btn btn-default" type="button" ng-click="setDisplayMode('sample')" ng-class="{'active':displayMode=='sample'}">简易</button>
                <button class="btn btn-default" type="button" ng-click="setDisplayMode('full')" ng-class="{'active':displayMode=='full'}">完整</button>
            </div>
        </div>
        <div class="col-md-5">
            <ul class="nav  nav-pills pull-right">
                <li ng-if="false">
                    <button type="button" class="btn btn-sm  btn-primary">自动刷新</button>
                </li>
                <li>
                    <input type="text" class="form-control datetime" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-min-view="2" placeholder="日期" ng-model="startDateInput" ng-keypress="formKeypressHandler($event)">
                </li>
                <li>
                    <button type="button" class="btn btn-sm  btn-primary" ng-click="search()">查询</button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm  btn-primary" ng-click="addDay(-1)" data-toggle="tooltip" data-placement="bottom" title="前一天">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn  btn-sm  btn-primary" ng-click="addDay()" data-toggle="tooltip" data-placement="bottom" title="现在">
                        <span class=" glyphicon glyphicon-stop"></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm  btn-primary" ng-click="addDay(1)" data-toggle="tooltip" data-placement="bottom" title="后一天">
                        <span class=" glyphicon glyphicon-chevron-right"></span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row con-view">
        <div class="col-md-12 ">
            <div class="range-slider" data-type="date" data-min="{{::startDate}} 00:00:00" data-max="{{::startDate}} 23:59:59" data-start="{{::startDate + ' ' + startTime}}" data-end="{{::startDate + ' ' + endTime}}"></div>
        </div>
    </div>
    <div class="row con-view" ng-hide="baseRecord.empty && serviceRecordList.length == 0 && usageServiceRecordList.length == 0">
        <div class="col-md-2 pull-left" role="complementary">
            <nav id="affix" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix-top">
                <ul class="nav bs-docs-sidenav">

                    <li class="active">
                        <a href="javascript:void(0);" data-target="#onepart">基础指标</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-target="#secondpart">提供服务</a>
                        <ul class="nav">
                            <li ng-repeat="service in serviceRecordList">
                                <a href="javascript:void(0);" data-target="#open-{{service.protocol + service.port}}">{{service.protocol}}:{{service.port}}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-target="#thirdpart">使用服务</a>
                        <ul class="nav">
                            <li ng-repeat="(key, protocol) in usageServiceRecordNav">
                                <a href="javascript:void(0);" data-target="{{protocol.recordList.length ? '#usage-' + protocol.recordList[0].server_ip_replace + protocol.recordList[0].protocol + protocol.recordList[0].server_port : '#thirdpart'}}">{{key}}</a>
                                <ul class="nav" ng-if="protocol.recordList.length">
                                    <li ng-repeat="service in protocol.recordList">
                                        <a href="javascript:void(0);" style="padding-left:35px;" data-target="#usage-{{service.server_ip_replace + service.protocol + service.server_port}}">{{service.server_ip}}:{{service.server_port}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <a class="back-to-top" href="javascript:void(0);" data-top="0">返回顶部</a>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="row" id="onepart">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading ">基础指标</div>
                        <div class="panel-body">
                            <div class="col-md-6" ng-show="baseRecord.time.length">
                                <div id="networkPerspective_basic_flow"></div>
                                <p class="text-center">流量速率</p>
                            </div>
                            <div class="col-md-6" ng-show="baseRecord.time.length">
                                <div id="networkPerspective_basic_package"></div>
                                <p class="text-center">包传输率</p>
                            </div>
                            <div class="col-md-6" ng-show="baseRecord.time.length">
                                <div id="networkPerspective_basic_connection"></div>
                                <p class="text-center">并发连接数</p>
                            </div>
                            <div class="col-md-6" ng-show="baseRecord.time.length">
                                <div id="networkPerspective_basic_turn"></div>
                                <p class="text-center">交互数</p>
                            </div>
                            <div class="col-md-12" style="text-align:center;" ng-hide="baseRecord.time.length">
                                暂无数据
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="secondpart">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            提供的服务
                            <div class="progress pull-right" style="width:500px" ng-show="serviceRecordList.length">
                                <div class="progress-bar" ng-repeat="service in serviceRatioList" ng-class="service.progressBarClass" ng-style="{'width':service.percent + '%'}" data-toggle="tooltip" data-placement="bottom" title="{{service.percent | number:0}}%({{service.name ? service.name : (service.protocol + ':' + service.port)}})">
                                    <span>{{service.percent | number:0}}%({{service.name ? service.name : (service.protocol + ":" + service.port)}})</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-left:0;padding-right:0">
                            <div class="row network-perspective-service-record" id="open-{{service.protocol + service.port}}" ng-repeat="service in serviceRecordList" ng-show="serviceRecordList.length">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading network_perspective_head_style">{{service.protocol}}:{{service.port}}</div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div data-type="userResponseTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'userResponseTime', '用户响应时间')">用户响应时间</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="flowRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'flowRatio', '流量速率')">流量速率</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="connection" style="height:120px;"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'connection', '并发连接数')">并发连接数</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="connEstablishTime">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'connEstablishTime', '平均连接建立时间')">平均连接建立时间</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="firstByteTime">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'firstByteTime', '平均第一个字节时间')">平均第一个字节时间</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="timeConnDuration"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'timeConnDuration', '连接持续时间')">连接持续时间</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="newConnSuccessCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'newConnSuccessCount', '新建连接成功数')">新建连接成功数</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="connRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'connRatio', '新建连接率')">新建连接率</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="connReqCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'connReqCount', '新建连接请求数')">新建连接请求数</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="connRequestRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'connRequestRatio', '新建连接请求率')">新建连接请求率</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="connFailingCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'connFailingCount', '新建连接失败数')">新建连接失败数</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="outTurnCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outTurnCount', '流出交互个数')">流出交互个数</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outTurnRatio" style="height:120px;"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outTurnRatio', '流出交互率')">流出交互率</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="inTurnCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inTurnCount', '流入交互个数')">流入交互个数</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inTurnRatio" style="height:120px;"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inTurnRatio', '流入交互率')">流入交互率</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="packet" style="height:120px;"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'packet', '包传输率')">包传输率</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inPacketLossRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inPacketLossRatio', '丢包率（流入）')">丢包率（流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outPacketLossRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outPacketLossRatio', '丢包率（流出）')">丢包率（流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inPacketRetransRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inPacketRetransRatio', '包重传率（流入）')">包重传率（流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outPacketRetransRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outPacketRetransRatio', '包重传率（流出）')">包重传率（流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inRetransRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inRetransRatio', '重传率（流入）')">重传率（流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outRetransRatio"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outRetransRatio', '重传率（流出）')">重传率（流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="timeRetrans"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'timeRetrans', '重传延时')">重传延时</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="clientResetRatio" style="height:120px;"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'clientResetRatio', '重置率（客户端/流入）')">重置率（客户端/流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="serverResetRatio" style="height:120px;"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'serverResetRatio', '重置率（服务器/流出）')">重置率（服务器/流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outNetPayloadTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outNetPayloadTime', '净荷（流出）')">净荷（流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inNetPayloadTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inNetPayloadTime', '净荷（流入）')">净荷（流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outNetPayloadTransTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outNetPayloadTransTime', '净荷传输时间/往返时间（流出）')">净荷传输时间/往返时间（流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inNetPayloadTransTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inNetPayloadTransTime', '净荷传输时间/往返时间（流入）')">净荷传输时间/往返时间（流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outTransTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'outTransTime', '数据传输时间（流出）')">数据传输时间（流出）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inTransTime"></div>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'inTransTime', '数据传输时间（流入）')">数据传输时间（流入）</a>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="serverResponseTime">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <a class="text-center" href="javascript:void(0);" style="display:block;" ng-click="showOpenServiceClientMetric(service, 'serverResponseTime', '平均服务器响应时间')">平均服务器响应时间</a>
                                                </div>
                                            </div>
                                            <hr ng-show="service.metric.count.length || service.metric.avgDuration.length || service.metric.successRatio.length || service.metric.responseRatio.length || service.metric.code.length" />
                                            <div class="row" ng-show="service.metric.count.length || service.metric.avgDuration.length || service.metric.successRatio.length || service.metric.responseRatio.length || service.metric.code.length">
                                                <div class="col-md-4" ng-show="service.metric.count.length">
                                                    <div data-type="count"></div>
                                                    <p class="text-center">应用会话数</p>
                                                </div>
                                                <div class="col-md-4" ng-show="service.metric.avgDuration.length">
                                                    <div data-type="avgDuration"></div>
                                                    <p class="text-center">平均时延</p>
                                                </div>
                                                <div class="col-md-4" ng-show="service.metric.successRatio.length">
                                                    <div data-type="successRatio"></div>
                                                    <p class="text-center">成功率</p>
                                                </div>
                                                <div class="col-md-4" ng-show="service.metric.responseRatio.length">
                                                    <div data-type="responseRatio"></div>
                                                    <p class="text-center">响应率</p>
                                                </div>
                                                <div class="col-md-4" ng-show="service.metric.code.length">
                                                    <div data-type="code" style="height:120px;"></div>
                                                    <p class="text-center">返回状态码</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;" ng-hide="serviceRecordList.length">
                                没有提供任何服务
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="thirdpart">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            使用的服务
                            <div class="progress pull-right" style="width:500px" ng-show="usageServiceRecordList.length">
                                <div class="progress-bar" ng-repeat="service in usageServiceRatioList" ng-class="service.progressBarClass" ng-style="{'width':service.percent + '%'}" data-toggle="tooltip" data-placement="bottom" title="{{service.percent | number:0}}%({{service.name ? service.name : (service.protocol + ':' + service.server_port)}})">
                                    <span>{{service.percent | number:0}}%({{service.name ? service.name : (service.protocol + ":" + service.server_port)}})</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body" style="padding-left:0;padding-right:0">
                            <div class="row network-perspective-service-record" id="usage-{{service.server_ip_replace + service.protocol + service.server_port}}" ng-repeat="service in usageServiceRecordList" ng-show="usageServiceRecordList.length">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading network_perspective_head_style">{{service.protocol}}&nbsp;{{service.server_ip}}:{{service.server_port}}</div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div data-type="userResponseTime"></div>
                                                    <p class="text-center">用户响应时间</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="flowRatio"></div>
                                                    <p class="text-center">流量速率</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="connection" style="height:120px;"></div>
                                                    <p class="text-center">并发连接数</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="connEstablishTime">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">平均连接建立时间</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="firstByteTime">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">平均第一个字节时间</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="timeConnDuration"></div>
                                                    <p class="text-center">连接持续时间</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="newConnSuccessCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">新建连接成功数</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="connRatio"></div>
                                                    <p class="text-center">新建连接率</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="connReqCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">新建连接请求数</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="connRequestRatio"></div>
                                                    <p class="text-center">新建连接请求率</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="connFailingCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">新建连接失败数</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="outTurnCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">流出交互个数</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outTurnRatio" style="height:120px;"></div>
                                                    <p class="text-center">流出交互率</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="inTurnCount">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">流入交互个数</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inTurnRatio" style="height:120px;"></div>
                                                    <p class="text-center">流入交互率</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="packet" style="height:120px;"></div>
                                                    <p class="text-center">包传输率</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inPacketLossRatio"></div>
                                                    <p class="text-center">丢包率（流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outPacketLossRatio"></div>
                                                    <p class="text-center">丢包率（流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inPacketRetransRatio"></div>
                                                    <p class="text-center">包重传率（流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outPacketRetransRatio"></div>
                                                    <p class="text-center">包重传率（流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inRetransRatio"></div>
                                                    <p class="text-center">重传率（流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outRetransRatio"></div>
                                                    <p class="text-center">重传率（流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="timeRetrans"></div>
                                                    <p class="text-center">重传延时</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="clientResetRatio" style="height:120px;"></div>
                                                    <p class="text-center">重置率（客户端/流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="serverResetRatio" style="height:120px;"></div>
                                                    <p class="text-center">重置率（服务器/流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outNetPayloadTime"></div>
                                                    <p class="text-center">净荷（流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inNetPayloadTime"></div>
                                                    <p class="text-center">净荷（流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outNetPayloadTransTime"></div>
                                                    <p class="text-center">净荷传输时间/往返时间（流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inNetPayloadTransTime"></div>
                                                    <p class="text-center">净荷传输时间/往返时间（流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="outTransTime"></div>
                                                    <p class="text-center">数据传输时间（流出）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <div data-type="inTransTime"></div>
                                                    <p class="text-center">数据传输时间（流入）</p>
                                                </div>
                                                <div class="col-md-4">
                                                    <p class="text-center" data-type="serverResponseTime">
                                                        <span class="chart">
                                                            <span class="percent"></span>
                                                        </span>
                                                    </p>
                                                    <p class="text-center">平均服务器响应时间</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align:center;" ng-hide="usageServiceRecordList.length">
                                没有使用任何服务
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row con-view" ng-show="baseRecord.empty && serviceRecordList.length == 0 && usageServiceRecordList.length == 0">
        <div class="panel panel-default">
            <div class="panel-heading">查询结果</div>
            <div class="panel-body" style="text-align:center;">
                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="margin-right:5px;"></span>没有找到可以显示的结果
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal fade" id="openServiceDetailModal" tabindex="-1" role="dialog" aria-labelledby="openServiceDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{openServiceDetailRecord ? openServiceDetailRecord.protocol + ":" + openServiceDetailRecord.port : ""}} {{openServiceDetailRecord.displayName}}</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid" ng-show="openServiceDetailRecord.clientMetric.length">
                    <div class="row">
                        <div class="col-md-4 network-perspective-open-service-detail-chart" ng-repeat="metric in openServiceDetailRecord.clientMetric">
                            <div></div>
                            <p class="text-center">{{metric.clientIp}}</p>
                        </div>
                    </div>
                </div>
                <div class="text-center" ng-show="!openServiceDetailRecord.clientMetric">
                    <span class="glyphicon glyphicon-hourglass warn-center-loading" aria-hidden="true" style="margin-right:5px;"></span>正在加载...
                </div>
                <div class="text-center" ng-show="openServiceDetailRecord.clientMetric.length == 0">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true" style="margin-right:5px;"></span>没有找到可以显示的结果
                </div>
            </div>
        </div>
    </div>
</div>
