<div class="container con-view">
    <ul class="nav nav-tabs" style="margin-top:20px">
        <li>
            <a href="#/flow/summary">趋势指标</a>
        </li>
        <li class="active">
            <a href="#/flow/server">服务端视图</a>
        </li>
        <li><a href="#/flow/pcap">数据包回溯分析</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="col-md-12 con-view">
                <div class="range-slider" data-type="date" data-min="{{::startDate}} 00:00:00" data-max="{{::startDate}} 23:59:59" data-start="{{::startDate + ' ' + startTime}}" data-end="{{::startDate + ' ' + endTime}}"></div>
            </div>
            <div class="tab-content wrapp-view">
                <div class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group con-view ">
                                <select class="js-states form-control" ng-model="keywordInput">
                                    <option value="group">IP组</option>
                                    <optgroup label="网段">
                                        <option value="{{segment.ipSegment}}" ng-repeat="segment in ipSegmentList">{{segment.ipSegment}}</option>
                                    </optgroup>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="search()">查询</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-8 ">
                            <ul class="nav  nav-pills con-view pull-right">
                                <li ng-if="false">
                                    <button type="button" class="btn btn-sm  btn-primary">实时</button>
                                </li>
                                <li>
                                    <input type="text" class="form-control datetime" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-min-view="2" placeholder="日期" ng-model="startDateInput" ng-keypress="formKeypressHandler($event)">
                                </li>
                                <li>
                                    <button type="button" class="btn btn-sm  btn-primary" ng-click="search()">查询</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="addDay(-1)" data-toggle="tooltip" data-placement="bottom" title="前一天">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="addDay()" ng-class="{'disabled': isToday}" data-toggle="tooltip" data-placement="bottom" title="现在">
                                        <span class=" glyphicon glyphicon-stop"></span>
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="addDay(1)" data-toggle="tooltip" data-placement="bottom" title="后一天">
                                        <span class=" glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 server-view-ip-chart" ng-repeat="record in ipRecordList">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-lightbulb-o fa-lg" style="color:red;margin-right:10px"></i>
                                    {{record.group || record.ip}}
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <div class="progress">
                                                    <div class="progress-bar" ng-repeat="service in record.protocolRatio" ng-class="service.progressBarClass" ng-style="{'width':service.percent + '%'}" data-toggle="tooltip" data-placement="bottom" title="{{service.percent | number:0}}%({{service.name ? service.name : (service.protocol + ':' + service.port)}})">
                                                        <span>{{service.percent | number:0}}%({{service.name ? service.name : (service.protocol + ":" + service.port)}})</span>
                                                    </div>
                                                </div>
                                            </tr>
                                            <tr>
                                                <td>流量</td>
                                                <td>
                                                    <div data-type="chart-flow"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>数据包</td>
                                                <td>
                                                    <div data-type="chart-package"></div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group con-view ">
                                <select class="js-states form-control" ng-model="serviceInput">
                                    <option value="{{service.protocol}}" ng-repeat="service in serviceList">{{service.protocol}}</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="search()">查询</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="record in serviceRecordList">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-lightbulb-o fa-lg" style="color:red;margin-right:10px"></i>
                                    {{record.ip}}
                                    <p style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                                        在线时长：{{record.systemInfo.hasUpTimes ? (record.systemInfo.uptimeDays ? record.systemInfo.uptimeDays + "天" : "") + (record.systemInfo.uptimeHours ? record.systemInfo.uptimeHours + "小时" : "") + record.systemInfo.uptimeMins + "分钟" : "-"}};
                                        操作系统：<span data-toggle="tooltip" data-placement="bottom" title="{{record.systemInfo.os ? record.systemInfo.os + ' ' + record.systemInfo.osVersion : ''}}">{{record.systemInfo.os ? record.systemInfo.os + " " + record.systemInfo.osVersion : "-"}}</span>
                                    </p>
                                </div>
                                <div class="panel-body server-view-service-chart" style="height:200px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
