<div class="container view-content" id="pag_one">
    <ul id="myTab" class="nav nav-tabs" style="clear:both;margin-top:20px">
        <li><a href="#/flow/summary">趋势指标</a></li>
        <li><a href="#/flow/detail">实时视图</a></li>
        <li class="active"><a href="javascript:void(0);">服务端视图</a></li>
        <li><a href="javascript:void(0);">PCAP包下载</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="apart3">
            <ul class="nav  nav-tabs nav-indent">
                <li ng-repeat="tab in QUERY_TYPE" ng-class="{'active':queryType.name==tab.name}" ng-click="changeTab(tab)">
                    <a href="javascript:void(0);">{{tab.displayName}}</a>
                </li>
                <div style="float:right;">
                    <input type="text" class="datetime" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-min-view="2" placeholder="日期" ng-model="startDateInput" ng-keypress="formKeypressHandler($event)">
                    <button class="btn btn-default" type="button" ng-click="search()">查询</button>
                    <a class="btn btn-default" ng-click="addDay(-1)" data-toggle="tooltip" data-placement="bottom" title="前一{{durationType.name}}"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    <a class="btn btn-default" ng-click="addDay()" ng-class="{'disabled': isToday}" data-toggle="tooltip" data-placement="bottom" title="现在"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></a>
                    <a class="btn btn-default" ng-click="addDay(1)" data-toggle="tooltip" data-placement="bottom" title="后一{{durationType.name}}"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                </div>

            </ul>
            <div class="col-md-12" style="margin-top:10px;margin-bottom:10px;">
                <div class="range-slider" data-type="date" data-min="{{::startDate}} 00:00:00" data-max="{{::startDate}} 23:59:59" data-start="{{::startDate + ' ' + startTime}}" data-end="{{::startDate + ' ' + endTime}}"></div>
            </div>
            <div class="tab-content">
                <div id="apart1_11" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-8" style="margin:10px 20px 10px">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="自定义IP组" style="position:relative">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="	position:absolute">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0);">192.168.200.82</a></li>
                                    <li><a href="javascript:void(0);">192.168.200.83</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid" style="margin-top:20px">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="record in recordList">
                                <div style="background-color:#ccc;margin:10px">
                                    <p><i class="fa fa-lightbulb-o fa-lg" style="margin-right:10px"></i>{{record.ip}}</p>
                                    <p>
                                        在线时长：{{record.hasUpTimes ? (record.uptimeDays ? record.uptimeDays + "天" : "") + (record.uptimeHours ? record.uptimeHours + "小时" : "") + record.uptimeMins + "分钟" : "-"}};
                                        操作系统：{{record.os ? record.os + " " + record.osVersion : "-"}}
                                    </p>
                                    <hr />
                                    <div id="mainmy" style="height:250px;width:250px;margin-top: -20%;margin-left: 10%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="text-center" style="position:relative;margin-top:20px;" ng-show="recordList">
                        <div class="pull-right" style="line-height:34px;position:absolute;top:0;right:0;">
                            <span style="padding-right:10px;">匹配的记录 {{recordSize||0}} 笔</span>
                            <span style="padding-right:10px;">第 {{pageNum||0}} 页</span>
                            <span>共 {{pageTotal||0}} 页</span>
                        </div>
                        <ul class="pagination" style="margin:0 auto;" data-page-click="show"></ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>