<div class="container view-content" id="view_content">
    <ul class="nav nav-tabs" style="margin-top:20px">
        <li class="active"><a href="javascript:void(0);">趋势异常</a></li>
        <li><a href="javascript:void(0);">返回码错误</a></li>
        <li><a href="javascript:void(0);">安全警告</a></li>
        <div style="float:right">
            <input type="text" class="datetime" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-min-view="2" placeholder="日期" ng-model="startDateInput" ng-keypress="formKeypressHandler($event)">
            <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
            <button class="btn btn-default" type="button" ng-click="addDay(-1)" data-toggle="tooltip" data-placement="bottom" title="前一天"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
            <button class="btn btn-default" type="button" ng-click="addDay()" ng-class="{'disabled': isToday}" data-toggle="tooltip" data-placement="bottom" title="今天"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            <button class="btn btn-default" type="button" ng-click="addDay(1)" data-toggle="tooltip" data-placement="bottom" title="后一天"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
        </div>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="apart1">
            <div class="container-fluid">
                <div class="row" style=" margin:10px;">
                    <div class="col-md-6" ng-repeat="record in recordList">
                        <p>{{CURVE_TYPE[record.type] ? CURVE_TYPE[record.type].name : "未知(" + record.type + ")"}}</p>
                        <div class="warn-center-chart" ng-if="record.flowData || record.comparisonData"></div>
                    </div>
                </div>
            </div>
            <nav class="text-center" style="position:relative;margin-top:20px;" ng-show="recordList">
                <div class="pull-right" style="line-height:34px;position:absolute;top:0;right:0;">
                    <span style="padding-right:10px;">匹配的记录 {{recordSize||0}} 笔</span>
                    <span style="padding-right:10px;">第 {{pageNum||0}} 页</span>
                    <span>共 {{pageTotal||0}} 页</span>
                </div>
                <ul class="pagination" style="margin:0 auto;" data-page-click="show"></ul>
            </nav>
        </div>
    </div>
</div>

