/* the content css file */
.navbar-bgone {
	background-color: #2E2C35;
	margin-bottom: 0px;
	border: 0px;
}
.bgimg {
	background-image: url(../img/bg8.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.bgimg1 {
	background-image: url(../img/bgimg_2.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.form-insertone {
	position: absolute;
	top: 200px;
	left: 300px;
	opacity: 0.8;
	width: 500px;
}
.navbar-bg {
	background-color: #2E2C35;
	margin-bottom: 10px;
	border: 0px;
}
.form-insert {
	position: absolute;
	top: 5px;
	left: 150px;
	opacity: 1;
	width: 500px;
}
.logo-text {
	background-color: transparent;
	border: none;
	color: #666060;
	font-size: 30px;
}
.logo-textone {
	position: absolute;
	top: 195px;
	left: 150px;
	background-color: transparent;
	border: none;
	color: #ccc;
	font-size: 30px;
}
.container {
	width: 1200px;
}
#chos_nav {
	color: #2482BF;
}
#chos_icon {
	color: #2482BF;
}
#chos_date {
	width: 300px;
	margin: 20px 10px 10px;
	float: left;
}
.content_all {
	margin: 10px auto;
}
.content_liu img {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px 10px 5px 10px;
}
.alert_msg {
	position: absolute;
	top: 250px;
	left: 300px;
}
.alert_msg1 {
	position: absolute;
	top: 250px;
	left: 300px;
	display: block;
}
.alert1_msg {
	position: absolute;
	top: 250px;
	left: 300px;
}
.alert1_msg1 {
	position: absolute;
	top: 250px;
	left: 300px;
	display: block;
}
.alert_msgin {
	background-color: transparent;
	border: none;
	color: red;
	font-weight: bold;
}
.alert1_msgin {
	background-color: transparent;
	border: none;
	color: red;
	font-weight: bold;
}
.content_rank {
	margin-top: 20px;
	border: 1px solid black;
	width: 1368px;
}
#pag_one {
	margin-top: 10px;
	margin-bottom: 20px;
}
#myTab {
	margin-bottom: 20px;
	clear: both;
	margin-top: 20px
}
#myTab1 {

	/* margin-top: 10px; */
	margin-bottom: 20px;
}
.picd {
	height: 350px;
	width: 100%;
}
#col {
	border: 1px solid black;
	padding: 10px 20px;
}
#pag_one {
	margin-top: 10px;
	margin-bottom: 20px;
}
#myTab {
	margin-bottom: 20px;
}
#myTab1 {

	/* margin-top: 10px; */
	margin-bottom: 20px;
}
.picd {
	height: 350px;
	width: 100%;
}
#search-navbar {
	margin-top: 20px;
}
.hidecon {
	display: none;
}
.showcon {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	background-color: #fff;
}
hr {
	margin-top: 0px;
	border-color: black;
}
#input_fir {
	height: 34px;
}
#linked_multi1 {
	margin-left: 10%;
}
#linked_multi2 {
	margin-left: 10%;
}
.view-page {

	/* background-color:rgba(102, 95, 95, 0.91); */
}
.portlet-body {

	/* margin-top:40px; *//* background-color:white; */
}
.portlet-title {
	padding: 10px 30px;
}
.yellow-stripeone {
	background-color: #c3811A;
	color: #ccc
}
.inline_info {
	float: left;
	margin: 30px 10px 10px 30px;
}
#input_search {
	margin-top: 30px;
	width: 500px;
	margin-left: 300px;
}
.echart_img {
	padding: 10px;
}
.input_info {
	height: 34px;
	width: 300px;
}
.content-one {
	position: relative;
	margin: 20px auto 20px;
	border: 1px solid black;
	width: 1100px;
	height: 347px;
}
.content-ze {
	margin: 20px auto 10px;
	border: 1px solid black;
	width: 1100px;
	height: 60px;
}
.content-two {
	margin: 20px auto;
	border: 1px solid black;
	width: 1100px;
	height: 347px;
}
.content_oneimg {
	width: 100%;
	height: 80%;
}
.content_twoimg {
	height: 340px;
	width: 1090px;
}
.new-button {
	margin-top: 10px;
	margin-right: 5px;
}
.new-button input {
	border: none;
	background-color: #ccc;
}
#nav_ze {
	margin-top: 5px;
	height: 25px;
	width: 300px;
	margin-left: 30px;
}
.head_titl {
	margin: 0px;
	padding: 0px;
}
#oneright_in {
	display: inline-block;
	float: left;
	width: 150px;
}
.one_right {
	border: 2px solid #ccc;
	width: 80%;
	height: 100%;
	float: right;
}
.text_one {
	display: inline-block;
	float: left;
	margin: 2px 10px 2px 5px;
}
.oneright {
	margin: 5px 20px 3px 5px;
	padding: 3px;
}
.oneright input {
	margin-right: 5px
}
.oneright_in1 {
	display: inline-block;
	float: left;
	width: 50px;
	background-color: transparent;
	border: none;
}
.one_left {
	float: left;
	width: 20%;
	height: 100%;
}
.one_left1 {
	height: 10%;
	border: 1px dashed #ccc;
}
.one_left2 {
	height: 70%;
	border: 1px dashed #ccc;
}
.one_left3 {
	height: 20%;
	border: 1px dashed #ccc;
}
.content_oimg {
	float: left;
	margin: 5px 5px;
}
#chos_nav {
	color: #2482BF;
}
#foot {
	bottom: 0px;
	left: 0px;
}
.nav-indent {
	padding-left: 30px;
}
.class_w {
	color: #2482BF;
	background-color: transparent;
}
.class_w1 {
	color: white !important;
	background-color: transparent;
}
.class_y {
	color: #ccc;
	background-color: transparent;
}
.class_y1 {
	color: white !important;
	background-color: transparent;
}
.class_ww {
	color: #ccc;
	background-color: transparent;
}

/* nav and foot  */
.view-logo {
	left: 0;
	position: absolute;
	top: 0px;
	height: 40px;
	width: 40px;
	margin-top: 6px;
	border-radius: 9px;
	margin-left: 20px;
}
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

/* hr{
margin-top: 0px;
		} */
.view-li li:first-child {
	margin-left: 80px;
}
.glyphicon {
	font-size: 12px;
	color: #ccc;
	padding-right: 8px;
}
.nav-text {
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	color: #ccc;
}
.main-footer {
	background: #202020;
	padding: 15px 0 0;
	color: #959595;
}
.copyright {
	background: #2E2C35;
	font-size: 12px;
	text-align: center;
	color: #555;
	padding-top: 14px;
	padding-bottom: 20px;
	border-top: 1px solid #303030;
}
.view-footer {

	/* position: fixed;
	bottom: 0px; */
	width: 100%;
}
.title {
	font-size: 14px;
	color: #fff;
	margin-top: 0;
	padding-bottom: 7px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 21px;
	position: relative;
}
.widget .friend-links a {
	display: block;
	border-bottom: 1px dashed #303030;
	padding-bottom: 14px;
	margin-bottom: 14px;
	color: #959595;
	transition: all .2s ease;
}
.view-content {
	background-color: #F8F8F8;
	overflow: hidden;	/* height: 600px; */
	margin-bottom: 20px;
}
.color-content {
	color: black;
}
#color_con {
	color: black;
}
.content-href li a {
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.subcontent {
	background-color: #ccc;
}
.content-href {
	height: 30px;
}
.content-href li a {
	padding-top: 5px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.subcontent {
	background-color: #ccc;
}
.content-href {
	height: 30px;
}
#alert_icon {
	color: white;
	background-color: red;
}