<!DOCTYPE HTML>
<html>
<head lang="zh-cn">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title ng-bind-template="{{currentPage.name}} | KnowOps">KnowOps</title>
    <link href="js/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="js/vendor/metricsgraphics/metricsgraphics.css" rel="stylesheet" />
    <link href="js/vendor/metricsgraphics/mg_line_brushing.css" rel="stylesheet" />
    <link href="js/vendor/jquery/jquery.autocomplete.css" rel="stylesheet" />
    <link href="css/iThing.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/patch.css" rel="stylesheet" />
    <link href="css/docs.min.css" rel="stylesheet" />
    <script src="js/vendor/require/require.js"></script>
    <script src="js/app/require.config.js"></script>
    <script>require(['app'], function () { })</script>
</head>
<body>
    <header>
        <nav class="navbar-default  navbar-justified" role="navigation">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ng-href="#/" style="padding:0;"><img class="view-logo" src="img/oneapm.jpg" alt="" /></a> 
                    </li>
                    <li ng-repeat="nav in sidebarNav" ng-class="{'active':$parent.currentPage.href==nav.href}">
                        <a ng-href="{{nav.href}}" class="nav-text"><i class="glyphicon" ng-class="nav.icon"></i>{{nav.name}}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:void(0);" class="nav-text">用户中心</a>
                    </li>
                    <li>
                        <a href="#/settings/group">
                            <i class="glyphicon glyphicon-cog"></i>
                            设置
                        </a>
                    </li>
                    <li>
                        <a href="#/warn/center" style="display:inline-block;">
                            <i class="glyphicon glyphicon-exclamation-sign"></i>
                            <span class="badge badge-danger pull-right" ng-show="unreadWarnCount" ng-bind-html="unreadWarnCount"></span>
                            告警中心
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="nav-text">登陆</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="nav-text">注册</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div ng-view></div>
    <div class="copyright" ng-if="showFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>
                        服务管理与监测&故障诊断
                    </span>
                    <span>
                        Let your network speak
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>