<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group" style="margin-right:5px;">
                <label>交易类型</label>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        所有 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="active"><a href="javascript:void(0);">所有</a></li>
                        <li><a href="javascript:void(0);">退货</a></li>
                        <li><a href="javascript:void(0);">消费</a></li>
                        <li><a href="javascript:void(0);">取现</a></li>
                    </ul>
                </div>
            </div>
            <div class="form-group" style="margin-right:5px;">
                <label>交易渠道</label>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        所有 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="active"><a href="javascript:void(0);">所有</a></li>
                        <li><a href="javascript:void(0);">网银专业版</a></li>
                        <li><a href="javascript:void(0);">大众版</a></li>
                        <li><a href="javascript:void(0);">手机银行</a></li>
                        <li><a href="javascript:void(0);">Pad银行</a></li>
                        <li><a href="javascript:void(0);">电话银行</a></li>
                        <li><a href="javascript:void(0);">自助设备</a></li>
                        <li><a href="javascript:void(0);">柜台</a></li>
                    </ul>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-sm" ng-click="query()">显示</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                交易量
                <p class="pull-right">5分钟前</p>
            </div>
            <div id="appView-chartDiv1" class="panel-body" data-everdata-chart="area">

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                交易成功率
                <p class="pull-right">5分钟前</p>
            </div>
            <div id="appView-chartDiv2" class="panel-body" data-everdata-chart="line">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                响应时间
                <p class="pull-right">5分钟前</p>
            </div>
            <div id="appView-chartDiv3" class="panel-body" data-everdata-chart="area">

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                响应率
                <p class="pull-right">5分钟前</p>
            </div>
            <div id="appView-chartDiv4" class="panel-body" data-everdata-chart="column">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                交易类型
                <p class="pull-right">5分钟前</p>
            </div>
            <div id="appView-chartDiv5" class="panel-body" data-everdata-chart="bar">

            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                返回码
                <p class="pull-right">5分钟前</p>
            </div>
            <div id="appView-chartDiv6" class="panel-body" data-everdata-chart="pie">

            </div>
        </div>
    </div>
</div>
