/*告警时间线*/
@keyframes orbit {
    0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
    }

    30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
    }

    39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
    }

    70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
    }

    75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
    }

    76% {
        transform: rotate(945deg);
        opacity: 0;
    }

    100% {
        transform: rotate(945deg);
        opacity: 0;
    }
}
.index_warn_timeline{
    overflow:hidden;
}
.index_warn_timeline .loading{
    display:none;
    position: relative;
    float:left;
    left:50%;
    margin:5px 0 6px -15px;
    width:30px;
    height:30px;
}
.index_warn_timeline.loading .loading{
    display:block;
}
.index_warn_timeline .loading .circle{
    position: absolute;
    width: 28px;
    height: 28px;
    opacity: 0;
    transform: rotate(225deg);
    animation-iteration-count: infinite;
    animation-name: orbit;
    animation-duration: 5.5s;
}
.index_warn_timeline .loading .circle:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #000; /* Pick a color */
}
.index_warn_timeline .loading .circle:nth-child(2) {  animation-delay: 240ms; }
.index_warn_timeline .loading .circle:nth-child(3) {  animation-delay: 480ms; }
.index_warn_timeline .loading .circle:nth-child(4) {  animation-delay: 720ms; }
.index_warn_timeline .loading .circle:nth-child(5) {  animation-delay: 960ms; }
.index_warn_timeline .warn_timeline_container{
    float:left;
    width:90%;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    overflow:hidden;
}
.index_warn_timeline .warn_timeline_container ul{
    display:block;
    /*table-layout:fixed;*/
    width:100%;
    padding:0;
    margin:0;
    border-bottom:1px solid #ccc;
    white-space:nowrap;
    overflow:hidden;
}
.index_warn_timeline .warn_timeline_container ul.animate{
    -moz-transition: margin-left 2s ease-in-out;
    -o-transition: margin-left 2s ease-in-out;
    -webkit-transition: margin-left 2s ease-in-out;
    transition: margin-left 2s ease-in-out;
}
.index_warn_timeline .warn_timeline_container ul li{
    /*float:left;*/
    display:inline-block;
    width:1.67%;
    height:30px;
    text-align:center;
    vertical-align:bottom;
    margin-top:20px;
}
.index_warn_timeline .warn_timeline_container ul li > a {
    display: block;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: #333;
    cursor:pointer;
    background-color: #f5f5f5;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.index_warn_timeline .warn_timeline_container ul li.info > a{
    color: #31708f;
    background-color: #d9edf7;
}
.index_warn_timeline .warn_timeline_container ul li.warning > a{
    color: #8a6d3b;
    background-color: #fcf8e3;
}
.index_warn_timeline .warn_timeline_container ul li.danger > a{
    color: #a94442;
    background-color: #f2dede;
}
.index_warn_timeline .warn_timeline_container ul li:hover > a {
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}
/*时间线左侧文本*/
.index_warn_timeline .warn_timeline_left{
    float:left;
    width:5%;
    height:40px;
}
/*时间线右侧文本*/
.index_warn_timeline .warn_timeline_right{
    float:right;
    width:5%;
    height:40px;
}
/*时间线下方刻度*/
.index_warn_timeline .warn_timeline_label{
    display:table;
    width:100%;
}
.index_warn_timeline .warn_timeline_label label{
    display:table-cell;
    width:33.3%;
    color:#999999;
    font-weight:normal;
}
/*时间线上方图例*/
.index_warn_timeline .warn_timeline_legend{
    color:#333333;
}
.index_warn_timeline .warn_timeline_legend .title{
    float:left;
    width:100px;
}
.index_warn_timeline .warn_timeline_legend .legend{
    margin-left:100px;
    text-align:right;
}
.index_warn_timeline .warn_timeline_legend .legend span{
    padding-left: 10px;
}
.index_warn_timeline .warn_timeline_legend .legend span::before{
    content: ' ';
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.2em;
    background-color: #f5f5f5;
}
.index_warn_timeline .warn_timeline_legend .legend span.legend-normal::before {
    background-color: #d9edf7;
}
.index_warn_timeline .warn_timeline_legend .legend span.legend-warning::before {
    background-color: #fcf8e3;
}
.index_warn_timeline .warn_timeline_legend .legend span.legend-error::before {
    background-color: #f2dede;
}
/*拓扑图*/
.index_topology{
    position:relative;
}
.index_topology .topology_table{
    position:absolute;
    width:180px;
    height:140px;
}
.index_topology .topology_table h3{
    display:block;
    width:100%;
    height:30px;
    margin:0;
    padding:0;
    line-height:30px;
    font-size:22px;
    font-weight:normal;
    text-align:center;
    background-color: #f5f5f5;
    border:1px solid #ccc;
    border-bottom:none;
}
.index_topology .topology_table.info h3{
    color: #31708f;
    background-color: #d9edf7;
    border-color:#d9edf7;
}
.index_topology .topology_table table{
    width:100%;
    height:110px;
    table-layout:fixed;
    border:1px solid #ccc;
}
.index_topology .topology_table.info table{
    border-color:#d9edf7;
}
.index_topology .topology_table table td{
    border:1px solid #ccc;
    width:50%;
    height:50%;
    text-align:center;
}
.index_topology .topology_table.info table td{
    border-color:#d9edf7;
}
.index_topology .topology_table table td h4{
    padding:0;
    margin:5px auto;
    font-size:20px;
}
/*流量框*/
.index_topology .topology_circle{
    position:absolute;
    width:80px;
    height:80px;
    border:10px solid #d9edf7;
    border-radius:50%;
}
.index_topology .topology_circle h3{
    display:block;
    margin:16.8px 0 0 0;
    padding:0;
    font-size:20px;
    text-align:center;
    white-space:nowrap;
}
.index_topology .topology_circle h3 small{
    margin-left: -5px;
    text-transform:uppercase;
}
.index_topology .topology_circle h3 *{
    white-space:normal;
}