<div class="row">
    <div class="col-md-7">
        <div id="dataPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">实时数据</h3>
            </div>
            <div class="panel-body">
                <table class="table" style="table-layout: fixed; margin-bottom: 0;">
                    <thead>
                        <tr>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">开始时间</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">源地址</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">目标地址</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">请求或响应</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">交易类型</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">返回状态</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">相对时间</th>
                            <th style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">间隔时间</th>
                        </tr>
                    </thead>
                </table>
                <div id="dataPanelTable" class="row" style="overflow:hidden;">
                    <div class="col-md-12">
                        <table class="table" style="table-layout:fixed;">
                            <tbody>
                                <tr>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">18:23:00.001</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">19.234.11.21</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">14.200.200.5</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">银联->防火墙</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">消费</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">成功</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">0.000</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">0.000</td>
                                </tr>
                                <tr class="danger">
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">18:23:00.001</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">19.234.11.21</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">14.200.200.5</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">银联->防火墙</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">消费</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; " class="text-danger">失败</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">0.000</td>
                                    <td style="width: 12.5%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">0.000</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div id="warnPanel" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">告警</h3>
            </div>
            <div class="panel-body" style="padding:0;">
                <div id="warnPanelBody" style="padding: 10px;overflow:auto;">
                    <h3 style="margin-top: 5px;"><a href="javascript:void(0);">返回码异常交易</a> <span class="label label-danger" style="position: relative; top: -2px;">325</span></h3>
                    <h3 style="margin-top: 5px;"><a href="javascript:void(0);">失败交易</a> <span class="label label-warning" style="position: relative; top: -2px;">90</span></h3>
                    <h3 style="margin-top: 5px;"><a href="javascript:void(0);">高时延交易</a> <span class="label label-default" style="position: relative; top: -2px;">2</span></h3>
                </div>
            </div>
        </div>
        <div id="statisticPanel" class="panel panel-default">
            <div class="panel-heading" style="position:relative;">
                <h3 class="panel-title">统计</h3>
                <div style="position:absolute;top:0;right:0;">
                    <ul class="nav nav-pills">
                        <li role="presentation" ng-class="{'active':t==statisticPanel_current}" ng-repeat="t in statisticPanel_TYPE"><a href="javascript:void(0);" ng-click="changeStatisticType(t)">{{t.name}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div id="index-chartDiv1" role="tabpanel" class="tab-pane" ng-class="{'active':statisticPanel_current.container=='index-chartDiv1'}" data-everdata-chart="bar">...</div>
                    <div role="tabpanel" class="tab-pane" ng-class="{'active':statisticPanel_current.container=='2'}">...</div>
                    <div role="tabpanel" class="tab-pane" ng-class="{'active':statisticPanel_current.container=='3'}">...</div>
                </div>
            </div>
        </div>
    </div>
</div>