<div class="row" style="  background-color:#006aae; padding-bottom:70px;">
    <div class="col-md-12">
        <div class="index_warn_timeline">
            <div class="warn_timeline_legend">
                <h3 class="title" style="color:#fff;">实时监控</h3>
            </div>
            
            <div class="warn_timeline_container">
                <div style="clear:both;" ng-if="false">
                    <div class="warn_timeline_left" ng-hide="warnTimeLine_loading">123</div>
                    <div class="warn_timeline_right" ng-hide="warnTimeLine_loading">234</div>
                </div>
                <ul id="index_warnTimeLine" class="clearfix" ng-class="{'animate':warnTimeLine_animate}">
                    <li class="info" ng-class="{'warning':warn.warnList.length}" ng-repeat="warn in warnTimeLine_warnList">
                        <a href="javascript:void(0);" role="button" tabindex="0" data-placement="bottom" data-trigger="focus" data-html="true" data-index-warntimeline-popover></a>
                    </li>
                </ul>
            </div>
            
            <div class="warn_timeline_label">
                <label class="text-left">30分钟前</label>
                <label class="text-center">15分钟前</label>
                <label class="text-right">现在</label>
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: #eeedeb;">
    <div class="col-md-12">
        <div id="dataPanel" class="panel panel-default" style=" margin-top: -50px; ">
            <!--首页拓扑图-->
            <div class="panel-body index_topology">
                <div class="legend">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>响应时间(ms)
                    <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>交易笔数
                    <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>告警条数
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>响应率(%)
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>成功率
                    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>流量
                </div>
                <div style="width:95%; margin:auto;position:relative;">
                    <img src="img/server_1.jpg" style="width:100%;" />
                    <div style="width:100%; position:absolute; left:0px; top:0px; height:100%; ">
                        <div class="topology_circle" style="top:45%;left:38%;">
                            <!--http流量-->
                            <h3>
                                <span data-number-animate data-numberanimate-value="{{topology_http_flow}}">0</span>
                                <small>{{topology_http_flowSuffix}}</small>
                            </h3>
                        </div>
                        <div class="topology_circle" style=" top:29%;left:53%;">
                            <!--8583流量-->
                            <h3>
                                <span data-number-animate data-numberanimate-value="{{topology_8583_flow}}">0</span>
                                <small>{{topology_8583_flowSuffix}}</small>
                            </h3>
                        </div>
                        <div class="topology_circle" style=" top:58%;left:53%;">
                            <!--20022流量-->
                            <h3>
                                <span data-number-animate data-numberanimate-value="{{topology_20022_flow}}">0</span>
                                <small>{{topology_20022_flowSuffix}}</small>
                            </h3>
                        </div>
                        <!-- 8583 -->
                        <div class="topology_table" style="top: 13%; left: 65%;" role="button" tabindex="0" data-placement="bottom" data-trigger="focus" data-html="true" data-type="8583" data-warn-type="iso8583" data-device-list="topology_8583_deviceList" data-index-topology-popover>
                            <table class="table-bordered">
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_8583_count}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_8583_duration}}">0</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_8583_responseRatio}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_8583_warnCount}}">0</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_8583_successRatio}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!--20022-->
                        <div class="topology_table" style="left:65%;bottom:11%;" role="button" tabindex="0" data-placement="top" data-trigger="focus" data-html="true" data-type="20022" data-warn-type="iso20022" data-device-list="topology_20022_deviceList" data-index-topology-popover>
                            <table class="table-bordered">
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_20022_count}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_20022_duration}}">0</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_20022_responseRatio}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_20022_warnCount}}">0</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_20022_successRatio}}">0</h4>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <!--  http -->
                        <div class="topology_table info" style="bottom:50%;left:15%;" role="button" tabindex="0" data-placement="bottom" data-trigger="focus" data-html="true" data-type="http" data-device-list="topology_http_deviceList" data-index-topology-popover>
                            <table class="table-bordered">
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_http_count}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_http_duration}}">0</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_http_responseRatio}}">0</h4>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_http_warnCount}}">0</h4>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="val">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            <h4 data-number-animate data-numberanimate-value="{{topology_http_successRatio}}">0</h4>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <!--弹出层 开始-->
                        <div style="width:500px; border:1px solid #bcbcbc; background-color:#E4F1FA; padding:15px; position:absolute; top:0px; left:0px;" ng-if="false">
                            <table class="table table-hover  table-striped">
                                <thead>
                                    <tr>
                                        <th>源IP</th>
                                        <th><span class="glyphicon glyphicon-send ll" aria-hidden="true"></span></th>
                                        <th><span class="glyphicon glyphicon-barcode jybs" aria-hidden="true"></span></th>
                                        <th><span class="glyphicon glyphicon-alert gjts" aria-hidden="true"></span></th>
                                        <th>目标IP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>192.168.200.3</td>
                                        <td>10M</td>
                                        <td>20</td>
                                        <td>2</td>
                                        <td>192.168.200.83</td>
                                    </tr>
                                    <tr>
                                        <td>192.168.200.3</td>
                                        <td>10M</td>
                                        <td>20</td>
                                        <td>2</td>
                                        <td>192.168.200.83</td>
                                    </tr>
                                    <tr>
                                        <td>192.168.200.3</td>
                                        <td>10M</td>
                                        <td>20</td>
                                        <td>2</td>
                                        <td>192.168.200.83</td>
                                    </tr>
                                    <tr>
                                        <td>192.168.200.3</td>
                                        <td>10M</td>
                                        <td>20</td>
                                        <td>2</td>
                                        <td>192.168.200.83</td>
                                    </tr>
                                    <tr>
                                        <td>192.168.200.3</td>
                                        <td>10M</td>
                                        <td>20</td>
                                        <td>2</td>
                                        <td>192.168.200.83</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!--弹出层 结束-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>