<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">交易关键字</label>
                    <input type="email" class="form-control" placeholder="交易关键字">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" placeholder="开始时间">
                    <span class="input-group-addon" style="border-width:1px 0;">-</span>
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd" data-min-view="2" data-date-language="zh-CN" placeholder="结束时间">
                </div>                
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 导出</button>
            </form>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>开始时间</th>
                    <th>源地址</th>
                    <th>目标地址</th>
                    <th>请求或响应</th>
                    <th>交易类型</th>
                    <th>返回状态</th>
                    <th>相对时间</th>
                    <th>间隔时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2013-06-27 18:23:00.001</td>
                    <td>19.234.11.21</td>
                    <td>14.200.200.5</td>
                    <td>请求 银联->防火墙</td>
                    <td>消费</td>
                    <td>&nbsp;</td>
                    <td>0.000</td>
                    <td>0.000</td>
                </tr>
            </tbody>
        </table>
        <nav class="text-center" style="position:relative;">
            <div class="pull-left" style="line-height:34px;position:absolute;top:0;left:0;">
                <span style="padding-right:10px;">匹配的记录 1 笔</span>
                <span style="padding-right:10px;">第 1 页</span> 
                <span>共 1 页</span>
            </div>
            <ul class="pagination" style="margin:0 auto;">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li>
                    <a href="javascript:void(0);" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>