<div class="row">
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易类型">交易类型</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易类型">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易关键字">交易关键字</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="交易关键字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="每页显示">每页显示</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="10">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易渠道">交易渠道</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易渠道">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="响应时间">响应时间</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="响应时间">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="开始时间">开始时间</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="开始时间">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易结果">交易结果</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易结果">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="客户端IP">客户端IP</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="客户端IP">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="结束时间">结束时间</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="结束时间">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易返回码">交易返回码</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易返回码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="服务器IP">服务器IP</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="服务器IP">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">&nbsp;</label>
                <div class="col-sm-8">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 导出</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>发起时间</th>
                    <th>交易关键字</th>
                    <th>交易类型</th>
                    <th>交易渠道</th>
                    <th>响应时间ms</th>
                    <th>交易结果</th>
                    <th>返回码</th>
                    <th>客户端IP</th>
                    <th>服务器IP</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2013-06-27 18:23:00.001</td>
                    <td>6225-xxxx-xxxx-2846</td>
                    <td>消费</td>
                    <td>None</td>
                    <td>117.222</td>
                    <td>失败</td>
                    <td>91</td>
                    <td>19.234.11.21</td>
                    <td>14.200.200.5</td>
                </tr>
            </tbody>
        </table>
        <nav class="text-center" style="position:relative;">
            <div class="pull-left" style="line-height:34px;position:absolute;top:0;left:0;">
                <span style="padding-right:10px;">匹配的记录 1 笔</span>
                <span style="padding-right:10px;">第 1 页</span>
                <span>共 1 页</span>
            </div>
            <ul class="pagination" style="margin:0 auto;">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li>
                    <a href="javascript:void(0);" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>