<div class="row" ng-if="false">
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易类型">交易类型</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易类型">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易关键字">交易关键字</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="交易关键字">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="每页显示">每页显示</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="10">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易渠道">交易渠道</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易渠道">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="响应时间">响应时间</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="响应时间">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="开始时间">开始时间</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="开始时间">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易结果">交易结果</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易结果">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="客户端IP">客户端IP</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="客户端IP">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="结束时间">结束时间</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="结束时间">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="交易返回码">交易返回码</label>
                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="交易返回码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="服务器IP">服务器IP</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" placeholder="服务器IP">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">&nbsp;</label>
                <div class="col-sm-8">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
                    <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 导出</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">交易类型</label>
                    <div class="form-group btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            {{logType.name || "交易类型"}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="t in LOG_TYPE" ng-class="{'active':logType.id==t.id}"><a href="javascript:void(0);" ng-click="$parent.logType=t">{{t.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">响应时间</label>
                    <input type="text" class="form-control" placeholder="响应时间" ng-model="durationInput" ng-keypress="formKeypressHandler($event)">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" placeholder="开始时间" ng-model="startTimeInput" ng-keypress="formKeypressHandler($event)">
                    <span class="input-group-addon" style="border-width:1px 0;">-</span>
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" placeholder="结束时间" ng-model="endTimeInput" ng-keypress="formKeypressHandler($event)">
                </div>
                <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 导出</button>
            </form>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>响应时间</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in recordList">
                    <td>{{record.starttime_prefix + "." + record.starttime_suffix}}</td>
                    <td>{{record.endtime_prefix + "." + record.endtime_suffix}}</td>
                    <td>{{record.respmills}}</td>
                </tr>
            </tbody>
        </table>
        <nav class="text-center" style="position:relative;">
            <div class="pull-left" style="line-height:34px;position:absolute;top:0;left:0;">
                <span style="padding-right:10px;">匹配的记录 {{recordSize||0}} 笔</span>
                <span style="padding-right:10px;">第 {{pageNum||0}} 页</span>
                <span>共 {{pageTotal||0}} 页</span>
            </div>
            <ul class="pagination" style="margin:0 auto;" data-page-click="show"></ul>
        </nav>
    </div>
</div>