<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="javascript:void(0);">第一维度</a></li>
            <li role="presentation"><a href="javascript:void(0);">第二维度 <button class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></a></li>
            <li role="presentation"><a href="javascript:void(0);">第三维度 <button class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></a></li>
        </ul>
    </div>
</div>
<div class="row" style="margin-bottom:10px;">
    <div class="col-md-12">
        <ul class="nav nav-pills pull-left">
            <li role="presentation" class="active"><a href="javascript:void(0);">交易类型</a></li>
            <li role="presentation"><a href="javascript:void(0);">交易渠道</a></li>
            <li role="presentation"><a href="javascript:void(0);">交易返回码</a></li>
            <li role="presentation"><a href="javascript:void(0);">服务器IP</a></li>
            <li role="presentation"><a href="javascript:void(0);">客户端IP</a></li>
        </ul>
        <div class="pull-right" style="margin-top:3px;">
            <form class="form-inline">
                <div class="form-group btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        TOP10 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="active"><a href="javascript:void(0);">TOP10</a></li>
                        <li><a href="javascript:void(0);">TOP50</a></li>
                        <li><a href="javascript:void(0);">TOP100</a></li>
                    </ul>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" placeholder="开始时间">
                    <span class="input-group-addon" style="border-width:1px 0;">-</span>
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd" data-min-view="2" data-date-language="zh-CN" placeholder="结束时间">
                </div>
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 导出</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>交易类型</th>
                    <th>交易笔数</th>
                    <th>交易成功率%</th>
                    <th>响应时间ms</th>
                    <th>响应率%</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>消费</td>
                    <td>5093</td>
                    <td>95.44</td>
                    <td>386.505</td>
                    <td>100.00</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                关联分析 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">交易渠道</a></li>
                                <li><a href="#">交易返回码</a></li>
                                <li><a href="#">服务器IP</a></li>
                                <li><a href="#">客户端IP</a></li>
                                <li><a href="#">跳转至交易追踪 <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>余额查询</td>
                    <td>5093</td>
                    <td>95.44</td>
                    <td>386.505</td>
                    <td>100.00</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                关联分析 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">交易渠道</a></li>
                                <li><a href="#">交易返回码</a></li>
                                <li><a href="#">服务器IP</a></li>
                                <li><a href="#">客户端IP</a></li>
                                <li><a href="#">跳转至交易追踪 <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>取现</td>
                    <td>5093</td>
                    <td>95.44</td>
                    <td>386.505</td>
                    <td>100.00</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                关联分析 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">交易渠道</a></li>
                                <li><a href="#">交易返回码</a></li>
                                <li><a href="#">服务器IP</a></li>
                                <li><a href="#">客户端IP</a></li>
                                <li><a href="#">跳转至交易追踪 <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>消费冲正</td>
                    <td>5093</td>
                    <td>95.44</td>
                    <td>386.505</td>
                    <td>100.00</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                关联分析 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">交易渠道</a></li>
                                <li><a href="#">交易返回码</a></li>
                                <li><a href="#">服务器IP</a></li>
                                <li><a href="#">客户端IP</a></li>
                                <li><a href="#">跳转至交易追踪 <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav class="text-center" style="position:relative;">
            <div class="pull-left" style="line-height:34px;position:absolute;top:0;left:0;">
                <span style="padding-right:10px;">匹配的记录 1 笔</span>
                <span style="padding-right:10px;">第 1 页</span>
                <span>共 1 页</span>
            </div>
            <ul class="pagination" style="margin:0 auto;">
                <li>
                    <a href="javascript:void(0);" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="active"><a href="javascript:void(0);">1</a></li>
                <li><a href="javascript:void(0);">2</a></li>
                <li><a href="javascript:void(0);">3</a></li>
                <li><a href="javascript:void(0);">4</a></li>
                <li><a href="javascript:void(0);">5</a></li>
                <li>
                    <a href="javascript:void(0);" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
