<div class="row">
    <div class="col-md-12">
        <div class="pull-right">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">交易类型</label>
                    <div class="form-group btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                            {{logType.name || "交易类型"}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="t in LOG_TYPE" ng-class="{'active':logType.id==t.id}"><a href="javascript:void(0);" ng-click="$parent.logType=t">{{t.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="sr-only">交易关键字</label>
                    <input type="text" class="form-control" placeholder="交易关键字" ng-model="keywordInput" ng-keypress="formKeypressHandler($event)">
                </div>
                <div class="input-group">
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" placeholder="开始时间" ng-model="startTimeInput" ng-keypress="formKeypressHandler($event)">
                    <span class="input-group-addon" style="border-width:1px 0;">-</span>
                    <input type="text" class="form-control date" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" placeholder="结束时间" ng-model="endTimeInput" ng-keypress="formKeypressHandler($event)">
                </div>
                <button class="btn btn-default" type="button" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
                <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-save" aria-hidden="true"></span> 导出</button>
            </form>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-12">
        <table class="table table-hover" style="table-layout:fixed;">
            <thead>
                <tr>
                    <th>UID</th>
                    <th>告警时间</th>
                    <th>响应时间</th>
                    <th>交易信息</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in recordList">
                    <td>{{record.uid}}</td>
                    <td>{{record.warnTime}}</td>
                    <td>{{record.respmills}}</td>
                    <td style="word-break: break-all;"><p>{{record.text}}</p></td>
                </tr>
            </tbody>
        </table>
        <nav class="text-center" style="position:relative;">
            <div class="pull-left" style="line-height:34px;position:absolute;top:0;left:0;">
                <span style="padding-right:10px;">匹配的记录 {{recordSize||0}} 笔</span>
                <span style="padding-right:10px;">第 {{pageNum||0}} 页</span>
                <span>共 {{pageTotal||0}} 页</span>
            </div>
            <ul class="pagination" style="margin:0 auto;" data-page-click="show"></ul>
        </nav>
    </div>
</div>