body {
    font-family:"微软雅黑";
}
.panel .panel-heading,
.list-group .list-group-item{
    -moz-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    -webkit-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
}