<div class="row" style="padding-top:25px;">
    <div class="col-md-12">
        <div class="pull-left">
            <form class="form-inline">
                <input type="text" class="form-control datetime" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-min-view="2" placeholder="日期" ng-model="startDateInput" ng-keypress="formKeypressHandler($event)">
                <input type="text" class="form-control datetime" data-date-format="hh:ii:ss" data-date-language="zh-CN" data-max-view="1" data-start-view="1" placeholder="时间" ng-model="startTimeInput" ng-keypress="formKeypressHandler($event)">
                <div class="form-group" ng-class="{'has-error':durationInputHasError}" data-toggle="tooltip" data-placement="bottom" title="{{durationInputHasError?'持续时间错误':null}}">
                    <label class="sr-only">持续时间</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="持续时间（s），最多900" ng-model="durationInput" ng-keypress="formKeypressHandler($event)">
                        <div class="input-group-addon">秒</div>
                    </div>
                </div>
                <input type="text" class="form-control" placeholder="IP" ng-model="keywordInput" ng-keypress="formKeypressHandler($event)">
                <button class="btn btn-info" type="button" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
            </form>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="tab in QUERY_TYPE" ng-class="{'active':queryType.name==tab.name}"><a href="javascript:void(0);" role="tab" ng-click="changeTab(tab)">{{tab.displayName}}</a></li>
        </ul>
        <div style="margin-top:20px;" ng-show="recordList">
            <table class="table">
                <thead>
                    <tr>
                        <th>IP</th>
                        <th>别名</th>
                        <th style="width:25%;">流量（kbps）</th>
                        <th style="width:25%;">包数（pps）</th>
                        <th style="width:25%;">会话数</th>
                        <th style="width:80px;">PCAP包</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="flow-history-record" ng-repeat="record in recordList">
                        <td><a href="javascript:void(0);" ng-click="showDetail(record)">{{record.ip||"暂无"}}</a></td>
                        <td>{{record.alias}}</td>
                        <td><div data-chart="flow" style="height:50px;"></div></td>
                        <td><div data-chart="package" style="height:50px;"></div></td>
                        <td><div data-chart="session" style="height:50px;"></div></td>
                        <td><a href="javascript:void(0);" ng-click="downloadPcap(record)"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <nav class="text-center" style="position:relative;">
                <div class="pull-right" style="line-height:34px;position:absolute;top:0;right:0;">
                    <span style="padding-right:10px;">匹配的记录 {{recordSize||0}} 笔</span>
                    <span style="padding-right:10px;">第 {{pageNum||0}} 页</span>
                    <span>共 {{pageTotal||0}} 页</span>
                </div>
                <ul class="pagination" style="margin:0 auto;" data-page-click="show"></ul>
            </nav>
        </div>
        <div ng-hide="recordList" style="margin-top: 20px; text-align: center;">
            <span class="glyphicon glyphicon-hourglass flow-histroy-loading" aria-hidden="true"></span>正在加载...
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;" ng-show="currentRecord">
    <div class="col-xs-12">
        <hr />
        <table class="table" ng-show="currentRecord.detailList && currentRecord.detailList.length">
            <thead>
                <tr>
                    <th>协议</th>
                    <th style="width:25%;">流量（kbps）</th>
                    <th style="width:25%;">包数（pps）</th>
                    <th style="width:25%;">会话数</th>
                    <th style="width:80px;">PCAP包</th>
                </tr>
            </thead>
            <tbody>
                <tr class="flow-history-detail-record" ng-repeat="record in currentRecord.detailList">
                    <td>{{record.protocol}}{{record.port ? ":" + record.port : ""}}{{record.alias ? "(" + record.alias+ ")" : ""}}</td>
                    <td><div data-chart="flow" style="height:50px;"></div></td>
                    <td><div data-chart="package" style="height:50px;"></div></td>
                    <td><div data-chart="session" style="height:50px;"></div></td>
                    <td><a href="javascript:void(0);" ng-click="downloadPcap(record)"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a></td>
                </tr>
            </tbody>
        </table>
        <div style="text-align:center;" ng-hide="currentRecord.detailList"><span class="glyphicon glyphicon-hourglass flow-histroy-loading" aria-hidden="true"></span>正在加载...</div>
        <div style="text-align:center;" ng-show="currentRecord.detailList.length==0">暂无数据</div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="flow_history_session_modal" tabindex="-1" role="dialog" aria-labelledby="flow_history_session_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">会话详情({{currentSessionRecord.ip}}{{currentSessionRecord.port ? ":" + currentSessionRecord.port : null}})</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ip1</th>
                            <th>ip2</th>
                            <th>port1</th>
                            <th>port2</th>
                            <th>proto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="session in currentSessionRecord.connDetails">
                            <td>{{session.ip1}}</td>
                            <td>{{session.ip2}}</td>
                            <td>{{session.port1}}</td>
                            <td>{{session.port2}}</td>
                            <td>{{session.proto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
