<div class="row" style="padding-top:25px;">
    <div class="col-md-12">
        <div class="pull-left">
            <form class="form-inline">
                <input type="text" class="form-control datetime" data-date-format="yyyy-mm-dd" data-date-language="zh-CN" data-min-view="2" placeholder="日期" ng-model="startDateInput" ng-keypress="formKeypressHandler($event)">
                <button class="btn btn-info" type="button" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 查找</button>
            </form>
        </div>
        <div class="pull-right">
            <button class="btn btn-info" type="button" ng-click="addDay(-1)" data-toggle="tooltip" data-placement="bottom" title="前一天"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
            <button class="btn btn-info" type="button" ng-click="addDay()" data-toggle="tooltip" data-placement="bottom" title="今天"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span></button>
            <button class="btn btn-info" type="button" ng-click="addDay(1)" data-toggle="tooltip" data-placement="bottom" title="后一天"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 flowSummary-chart-container">
        <div id="flowChart" style="height:400px;"></div>
        <a class="btn btn-default" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="联动" ng-class="{'locked': isConnect}" ng-click="toggleChartConnect()" ng-show="option_flow.series[0].data.length">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-xs-12 flowSummary-chart-container">
        <div id="packageChart" style="height:400px;"></div>
        <a class="btn btn-default" href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="联动" ng-class="{'locked': isConnect}" ng-click="toggleChartConnect()" ng-show="option_package.series[0].data.length">
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="row" style="margin-top:20px;margin-bottom:20px;">
    <div class="col-xs-6">
        <div id="ipChart" style="height:400px;"></div>
    </div>
    <div class="col-xs-6">
        <div id="protocolChart" style="height:400px;"></div>    
    </div>
</div>
