<div class="">
    <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
    <div id="main" style="height:400px"></div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-md-6 t_relative" style="">
        <h4 class="httpname">HTTP</h4>
        <div class="t_data">

            <p class="bg-info">响应时间</p>
            <p class="bg-success">交易笔数</p>
            <p class="bg-danger">告警条数</p>
        </div>
        <div id="http" style="height:200px; "></div>
    </div>
    <div class="col-md-6">
        <h4 class="httpname">8083</h4>
        <div class="t_data">

            <p class="bg-info">响应时间</p>
            <p class="bg-success">交易笔数</p>
            <p class="bg-danger">告警条数</p>
        </div>
        <div id="8083" style="height:200px;"></div>
    </div>
</div>
<div class="row" style="margin-top:30px;">
    <div class="col-md-6 t_relative">
        <h4 class="httpname">8333</h4>
        <div class="t_data">

            <p class="bg-info">响应时间</p>
            <p class="bg-success">交易笔数</p>
            <p class="bg-danger">告警条数</p>
        </div>
        <div id="8333" style="height:200px;"></div>
    </div>
    <div class="col-md-6 t_relative">
        <h4 class="httpname">8666</h4>
        <div class="t_data">

            <p class="bg-info">响应时间</p>
            <p class="bg-success">交易笔数</p>
            <p class="bg-danger">告警条数</p>
        </div>
        <div id="8666" style="height:200px; "></div>
    </div>
</div>
