<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    增加过滤器
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-repeat="(name,field) in FIELD_LIST" ng-class="{'disabled':queryFieldList[name]}">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="addFilter(field)">{{field.displayName||field.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr ng-repeat="(fieldName,queryField) in queryFieldList">
                    <td style="width:30px;"><a href="javascript:void(0);" ng-click="removeFilter(queryField)"><span class="glyphicon glyphicon-remove"></span></a></td>
                    <td style="width:200px;">{{queryField.displayName||queryField.name}}</td>
                    <td style="width:100px;">
                        <div class="dropdown" ng-repeat="(name,opts) in FIELD_OPT" ng-show="name==queryField.type">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                                {{queryField.opt.displayName || queryField.opt.name ||"选择操作"}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation" ng-repeat="opt in opts" ng-class="{'active':queryField.opt.name==opt.name}">
                                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="queryField.opt=opt">{{opt.displayName||opt.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div ng-show="queryField.type=='String'||queryField.type=='Int'">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only">&nbsp;</label>
                                    <input class="form-control input-sm" type="text" ng-model="queryField.inputValue1" />
                                </div>
                                <div class="form-group">
                                    <label class="sr-only">&nbsp;</label>
                                    <input class="form-control input-sm" type="text" ng-model="queryField.inputValue2" ng-show="queryField.opt.name=='><'" />
                                </div>
                            </form>
                        </div>
                        <div ng-show="queryField.type=='Date'">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only">&nbsp;</label>
                                    <input class="form-control input-sm date" type="text" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" ng-model="queryField.inputValue1" />
                                </div>
                                <div class="form-group">
                                    <label class="sr-only">&nbsp;</label>
                                    <input class="form-control input-sm date" type="text" data-date-format="yyyy-mm-dd hh:ii:ss" data-date-language="zh-CN" ng-model="queryField.inputValue1" ng-show="queryField.opt.name=='><'" />
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <a href="javascript:void(0);" class="list-group-item" ng-repeat="(name,field) in FIELD_LIST" ng-click="toggleDisplayField(field)">
                <span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-ok-circle':displayFieldList[name].show,'glyphicon-ban-circle':!displayFieldList[name].show}"></span>{{field.displayName||field.name}}
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                {{ groupFieldCount ? groupFieldCount + "个分组条件" : "选择分组条件"}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" ng-repeat="(name,field) in FIELD_LIST" ng-class="{'active':groupFieldList[name]}">
                    <a role="menuitem" tabindex="-1" href="javascript:void(0);" ng-click="toggleGroup(field)">{{field.displayName||field.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr />