.warn-center-loading{
    -webkit-animation:hourglass-loading infinite;
    -moz-animation:hourglass-loading infinite;
    animation:hourglass-loading infinite;
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
    margin-right:5px;
}
.warn-center-table tr td img{
    width:100%;
}