@charset "utf-8";
.topology_box{position: relative; width: 100%; height: 100%;}
.topology_box .tpbj{width: 100%; }
.yizu{width: 8%; height: 16%;background-color: #ff81a8; position: absolute;z-index: 2; color: #fff; text-align: center; border-radius: 50%;}
.yizu img{margin-top: 18%; margin-bottom: 2%;}
.gmxt{ top: 18%; left:5%; }
.wyxt{ top: 36%; left:2%; }
.sjyh{ top: 50%; left:7%; }
.zzcx{ top: 68%; left:5%; }
.atm{ top: 86%; left:8%; }
.erzu{width: 8%; height: 16%;background-color: #ffb777; position: absolute;z-index: 2; color: #fff; text-align: center; border-radius: 50%;}
.erzu img{margin-top: 23%; margin-bottom: 5%;}
.ylqz{ top: 20%; left:57%; }
.sanzu{width: 9%; height: 18%;background-color: #55cca6; position: absolute;z-index: 2; color: #fff; text-align: center; border-radius: 50%;}
.yl{ top: 24%; left:88.5%; }
.yl img{margin-top: 30%; }
.ylxm{ top: 65%; left:91%; }
.ylxm img{margin-top: 25%; }
/********以下是四组 标题css************/
.qdxttitle{width: 10%; height: 5%;background-color: #ff81a8; position: absolute;top: 6%; left: 5%; z-index: 2; border-radius: 20px; color: #fff; text-align: center; }
.qdxttitle span{margin-top: 6%; display: inline-block;}
.yhnbtitle{width: 10%; height: 5%;background-color: #41c0d1; position: absolute;top: 6%; left: 29%; z-index: 2; border-radius: 20px; color: #fff; text-align: center;}
.yhnbtitle span{margin-top: 6%; display: inline-block;}
.wlqztitle{width: 10%; height: 5%;background-color: #ffb777; position: absolute;top: 6%; left: 56%; z-index: 2; border-radius: 20px; color: #fff; text-align: center;}
.wlqztitle span{margin-top: 6%; display: inline-block;}
.wltitle{width: 10%; height: 5%;background-color: #55cca6; position: absolute;top: 6%; left: 88%; z-index: 2; border-radius: 20px; color: #fff; text-align: center;}
.wltitle span{margin-top: 6%; display: inline-block;}
/********以下是第一组线数据css************/
.gmxt_data{position: absolute;top: 16%; left:16%; z-index: 5; background-color: #fff;}
.gmxt_data table{border-top:1px solid #ebeae8; border-right:1px solid #ebeae8;}
.gmxt_data table td{ border-left:1px solid #ebeae8; border-bottom:1px solid #ebeae8; padding: 0px 5px 0px 5px; text-align: center;}
.gmxt_data table tr:first-child td{background-color: #ff5e4e; color: #fff;}

.wyxt_data{position: absolute;top: 40%; left:16%; z-index: 5; background-color: #ff5e4e; width: 4%; color: #fff; text-align: center; }
.wyxt_data span:nth-child(2){ position: absolute; top: -6px; right: 5px;display:block;border:4px solid #fff;border-color:#fff #fff #ff5e4e #fff;border-width:0px 6px 6px 6px;}

.sjyh_data{position: absolute;top: 48%; left:20%; z-index: 5; background-color: #ff5e4e; width: 4%; color: #fff; text-align: center; }
.sjyh_data span:nth-child(2){ position: absolute; top: -6px; right: 5px;display:block;border:4px solid #fff;border-color:#fff #fff #ff5e4e #fff;border-width:0px 6px 6px 6px;}

.zzcx_data{position: absolute;top: 58%; left:18%; z-index: 5; background-color: #fff;}
.zzcx_data table{border-top:1px solid #ebeae8; border-right:1px solid #ebeae8;}
.zzcx_data table td{ border-left:1px solid #ebeae8; border-bottom:1px solid #ebeae8; padding: 0px 5px 0px 5px; text-align: center;}
.zzcx_data table tr:first-child td{background-color: #ff5e4e; color: #fff;}

.atm_data{position: absolute;top: 80.5%; left:17%; z-index: 5; background-color: #ff5e4e; width: 4%; color: #fff; text-align: center; }
.atm_data span:nth-child(2){ position: absolute; bottom: -6px; right: 5px;display:block;border:4px solid #fff;border-color:#ff5e4e #fff #fff #fff;border-width:6px 6px 0px 6px;}
/********以下是第二组线数据css************/
.ylqz_data{position: absolute;top: 18%; left:44%; z-index: 5; background-color: #fff;}
.ylqz_data table{border-top:1px solid #ebeae8; border-right:1px solid #ebeae8;}
.ylqz_data table td{ border-left:1px solid #ebeae8; border-bottom:1px solid #ebeae8; padding: 0px 5px 0px 5px; text-align: center;}
.ylqz_data table tr:first-child td{background-color: #ff5e4e; color: #fff;}

.wyhl_yi_data{position: absolute;top: 39%; left:63%; z-index: 5; background-color: #ff5e4e; width: 7%; color: #fff; text-align: center; }
.wyhl_yi_data span:nth-child(2){ position: absolute; bottom: -6px; left: 5px;display:block;border:4px solid #fff;border-color:#ff5e4e #fff #fff #fff;border-width:6px 6px 0px 6px;}

.wyhl_er_data{position: absolute;top: 44%; left:56%; z-index: 5; background-color: #ff5e4e; width: 6%; color: #fff; text-align: center; }
.wyhl_er_data span:nth-child(2){ position: absolute; bottom: -6px; left: 5px;display:block;border:4px solid #fff;border-color:#ff5e4e #fff #fff #fff;border-width:6px 6px 0px 6px;}

.wyhl_san_data{position: absolute;top: 54%; left:48%; z-index: 5; background-color: #fff;}
.wyhl_san_data table{border-top:1px solid #ebeae8; border-right:1px solid #ebeae8;}
.wyhl_san_data table td{ border-left:1px solid #ebeae8; border-bottom:1px solid #ebeae8; padding: 0px 5px 0px 5px; text-align: center;}
.wyhl_san_data table tr:first-child td{background-color: #ff5e4e; color: #fff;}

.wyhl_si_data{position: absolute;top: 79.5%; left:51%; z-index: 5; background-color: #ff5e4e; width: 9%; color: #fff; text-align: center; }
.wyhl_si_data span:nth-child(2){ position: absolute; top: -6px; right: 5px;display:block;border:4px solid #fff;border-color:#fff #fff #ff5e4e #fff;border-width:0px 6px 6px 6px;}
/********以下是第三组线数据css************/
.yl_data{position: absolute;top: 12%; left:74%; z-index: 5; background-color: #fff;}
.yl_data table{border-top:1px solid #ebeae8; border-right:1px solid #ebeae8;}
.yl_data table td{ border-left:1px solid #ebeae8; border-bottom:1px solid #ebeae8; padding: 0px 5px 0px 5px; text-align: center;}
.yl_data table tr:first-child td{background-color: #ff5e4e; color: #fff;}

.ylxm_data{position: absolute;top: 85%; left:76%; z-index: 5; background-color: #fff;}
.ylxm_data table{border-top:1px solid #ebeae8; border-right:1px solid #ebeae8;}
.ylxm_data table td{ border-left:1px solid #ebeae8; border-bottom:1px solid #ebeae8; padding: 0px 5px 0px 5px; text-align: center;}
.ylxm_data table tr:first-child td{background-color: #ff5e4e; color: #fff;}

/**********网银互联前置 周围的4个点***************/
.dian_yi{position:absolute; top:49.8%; left:67.7%;width: 1%; height: 2%; z-index: 11; }
.dian_er{position:absolute; top:54.2%; left:61.9%;width: 1%; height: 2%; z-index: 11; }
.dian_san{position:absolute; top:59.55%; left:60.85%;width: 1%; height: 2%; z-index: 11; }
.dian_si{position:absolute; top:69.85%; left:62.75%;width: 1%; height: 2%; z-index: 11; }
















